@media print {
  * {
    background: transparent !important;
    color: black !important;
  }

  a {
    text-decoration: none;
  }

  #header {
    font-size: 60px !important;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  #FunFactsJob {
    display: none;
  }

  #footer {
    display: none;
  }

  #email {
    display: block;
  }
}

