@media print {
  * {
    background: transparent !important;
    color: black !important;
  }

  a {
    text-decoration: none;
  }

  hr {
    display: none !important;
  }

  #header {
    font-size: 75px !important;
    margin: 0;
  }

  #email {
    display: block;
    margin-bottom: 0;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .description {
    font-size: 14px;
  }

  #FunFactsJob {
    display: none;
  }

  #footer {
    display: none;
  }
}

