####### Node #######
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

##### Custom #####
bower_components
build
.sass-cache
sass/_normalize.scss
sass/_skeleton.scss
gh-pages
