---
layout: default
---

<div class="sixteen columns">
  <h1 id="header"><a href="mailto:{{ site.email }}?subject=Hello">{{ site.name }}</a></h1>
</div>

<h3 class="sixteen columns" id="email">{{ site.email }}</h3>

<hr class="sixteen columns">

<div class="sixteen columns">
  {% for i in (1..site.posts.size) %}
    {% for post in site.posts %}
      {% if post.index == i %}
        <div class="job sixteen columns">
          <div class="four columns">
            <h2 class="title" id="{{ post.title | camelize }}">{{ post.title }}</h2>
          </div>
          <div class="description eleven columns">
            {{ post.content | markdownify }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

