$text-color: #333;
$border-color: #ddd;

$lyft: #EA0B8C;
$bazel: #5A994F;
$opensource: #A086D3;

body {
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

a {
  color: #000;
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}

#header {
  font-family: 'Abril Fatface', 'Georgia', serif;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin: 0 auto 10px;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

#email {
  font-size: 1.3em;
  margin-top: 0;
  text-align: center;
}

#error {
  text-align: center;
  font-size: 1.5em;
}

hr {
  border: none;
  border-top: 1px solid $border-color;
  height: 0;
  margin-bottom: 20px;
}

.job {
  margin: 20px auto 0;

  .title {
    font-size: 2em;
    font-weight: 800;
    text-align: right;
  }

  .description {
    border-left: 1px solid $border-color;
    padding-left: 10px;
  }
}

#Lyft {
  color: $lyft;
}

#Bazel {
  color: $bazel;
}

#Mnf {
  color: #df6042;
}

#OpenSource {
  color: $opensource;
}

#Experience {
  color: #3b5998;
}

#Talks {
  color: #c52d2f;
}

#Podcasts {
}

.links-container {
  text-align: center;
  margin: 40px auto 0;
}

#footer {
  height: 50px;
  padding: 30px 0 20px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .job {
    .title {
      font-size: 1.7em;
      margin: 10px auto 0;
      text-align: center;
    }

    .description {
      border-left: none;
      border-bottom: 1px solid $border-color;
      padding: 0;
    }
  }
}
