<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.title %}
      <title>{{ site.name }} - {{ page.title }}</title>
    {% else %}
      <title>{{ site.name }}</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body class="container">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    <div id="footer" class="sixteen columns">
      <a href="https://twitter.com/SmileyKeith">Twitter</a>
       | <a href="http://smileykeith.com/">Blog</a>
       | <a href="https://github.com/keithbsmiley/">GitHub</a>
       | <a href="mailto:{{ site.email }}?subject=Hello There">Email</a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
    <script src="/js/fittext.js"></script>
    <script>
      jQuery("#header").fitText(1.0, { minFontSize: '40px', maxFontSize: '100px'});
    </script>
  </body>
</html>

